[user]
    name = Jack Rose
    email = user@jackrose.co.nz
[alias]
    aa = add .
    br = branch
    ci = commit
    cia = commit -a
    co = checkout
    cob = checkout -b
    cod = checkout develop
    com = !"git checkout master 2> /dev/null || git checkout main"
    df = diff
    dfs = diff --staged
    st = status
    pop = stash pop
    unstage = reset HEAD --
    uncommit = reset --soft HEAD~1
    recommit = commit --amend --no-edit
[core]
    pager = delta
    excludesfile = ~/.globalgitignore
[push]
    default = current
[pull]
    rebase = false
[delta]
    side-by-side = true
