[user]
    name = Jack Rose
    email = user@jackrose.co.nz
[alias]
    aa = add .
    br = branch
    ci = commit
    cia = commit -a
    co = checkout
    cob = checkout -b
    cod = checkout develop
    com = checkout master
    df = diff
    dfs = diff --staged
    st = status
    pop = stash pop
    unstage = reset HEAD --
[core]
    pager = delta
    excludesfile = ~/.globalgitignore
[push]
    default = current
[pull]
    rebase = false
[delta]
    side-by-side = true
