[user]
    name = Jack Rose
    email = user@jackrose.co.nz
[alias]
    aa = add .
    br = branch
    ci = commit
    cia = commit -a
    co = checkout
    cob = checkout -b
    cod = checkout develop
    com = !"git checkout master 2> /dev/null || git checkout main"
    df = diff
    dfs = diff --staged
    st = status
    fpl = push --force-with-lease
    pop = stash pop
    unstage = reset HEAD --
    brt = "!git for-each-ref refs/heads --color=always --sort -committerdate --format='%(HEAD)%(color:reset) %(color:yellow)%(refname:short)%(color:reset) %(contents:subject) %(color:green)(%(committerdate:relative))%(color:blue) <%(authorname)>'"
    uncommit = reset --soft HEAD~1
    recommit = commit --amend --no-edit
[core]
    pager = delta
    excludesfile = ~/.globalgitignore
[push]
    default = current
[pull]
    rebase = false
[delta]
    side-by-side = true
[init]
    defaultBranch = master
